/* Menu Bruno */

header {
  padding-left: 50px;
  padding-right: 50px;
}


body {
  background-color: #EFEFEF;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
nav li {   
    padding: 10px;
    text-align: center;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.f-border {
  border: 1px solid black;
}
.n-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.nav-item1 {
  flex-basis: auto;
}
.nav-item2 {
  display: flex;
}

nav li a {
  text-decoration:none;
}
nav li a:hover {
  color: #b8211e;
}

nav li h3 {
  margin-bottom: 10px;
}
h3, h4 {
    margin: 0;
    font-size: small;
    font-weight: normal;
}
/* Menu Bruno */

 /* Cajas de contenido/Imagenes*/

img.mercha {
  width: 500px;
  height:auto;
  margin: 10px;
}

img.mercha2 {
  width: 1000px;
  height:auto;
  justify-content: center;
}

.caja {
  border: 1px solid rgb(0, 0, 0);
  margin-top: 0px;
  margin-left: 370px ;
  margin-right: 370px ;
  margin-bottom: 0px ;
  background-color: #DDDDDD;
}

.ca {
    margin-top: 50px;
}

.caj {
  margin-bottom: 50px;
}


 /* Para enlaces de paginas*/
.caja2 {
  border: 1px solid rgb(0, 0, 0);
  margin-left: 440px; 
  margin-right: 440px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #DDDDDD;
}

.caja3 {
  padding-left: 10px;
  padding-right: 10px;
}

.border {
  border-right: 1px solid rgb(0, 0, 0);
  padding-left: 0%;

}

.enlace {
  text-align: left;
  font-size: small;
}

 /* Contact me*/
.row {
  display: flex;
  max-width: 100vw;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #DDDDDD;
  border: 1px solid black;
  padding: 30px;
  margin-left: 19%;
  margin-right: 19%;
}

.contact-item{
  display: inline;
  margin: 30px;
  font-size: x-large;
}

.logo{
  margin-left: 70px;
  width: 150px;
  height: 150px;
}
.logoKaren {
display: flex;
justify-content: center;
align-items: center;
height: 500px;
}

/* Quita el color azul cuando pulsas sobre el boton */
a:link {
text-decoration: none;
color: #040404;
}
a:visited {
text-decoration: none;
color: #040404;
}

@font-face {
  font-family: 'HKGrotesk-BoldLegacy';
  src: url(../typography/hk-grotesk/HKGrotesk-BoldLegacy.otf) format("truetype");
  font-style: normal;
  color: rgb(0, 0, 0);
}
body {
  font-family: 'HKGrotesk-BoldLegacy','sans';
  src: url(../typography/hk-grotesk/HKGrotesk-BoldLegacy.otf) format("truetype");
  font-style: normal;
  color: rgb(0, 0, 0);
}

.retrato {
  display: flex;
  justify-content: center;
}


.texto-centrado-img{
  font-size: 11px;
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-25%, -20%);
  text-align: left;
  background-color: white;
  padding: 30px;
}

/* Zona de Autores de Alvaro */

h2 {
  font: 25px;
  margin-top: 30px;
  text-align: center;
}
h2.linea {
  position: relative;
  z-index: 1;
}
h2.linea:before {
  border-top: 2px solid #040404;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.linea span {

  background: #fff;
  padding: 0 15px;
}

/* Alineo al centro con un pequeño margen para que la imagen de javier puertas quede en el centro de autores, esteticamente bien */
.autores {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 0%;
  text-decoration: none;
  text-decoration: #040404;

}

.enlace:after {
  content: "\2192";
  margin-left: 10px;
}



/* SLIDER */

.section_slider{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  margin: 0;

}


.c {
  min-width: 700px;
  width: 1300px;
  height: 800px;

  padding: 10px;
  padding-bottom: 40px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  overflow: hidden;
  background: hsl(0 0% 90%);

  box-sizing: border-box;
}

.ci {
  position: absolute;
  top: 0;
  left: 0;

  width: inherit;
  height: inherit;
  transform-origin: left 50%;

  background: inherit;

  z-index: var(--z);
  transition: .3s ease-out;
}

.ci img {
  -moz-user-select: none;
  user-select: none;
}

.ch {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translateY(-900%);
  font-size: 2rem;

}

input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;

  background: hsla(0 0% 90% / .3);
  cursor: pointer;

  position: relative;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: linear-gradient(to right,
    hsla(var(--hue) 72% 42% / 1),
    hsla(calc(var(--hue) + 15) 72% 42% / 1));
}

input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

input:not(:checked)+label+.ci {
  transition: 0;
}

.image_slider{
  width: 1300px;
  height: 800px;
}

section {
  display: flex;
  flex-direction: row;
  margin-left: 400px;
  margin-right: 345px;

}

article {
  background-color: #EFEFEF;
  border: black 1px solid;
  padding: 4px;

}

