.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #DDDDDD;
    border: 1px solid black;
    padding: 30px;
}

.contact-item{
    display: inline;
    margin: 60px;
    font-size: x-large;
}

.logo{
    margin-left: 70px;
    width: 150px;
    height: 150px;
}
.logoKaren {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}